.NavBar {
  background-color: black;
}

.NavBarText {
  color: white;
  margin-left: 15px;
  margin-right: 15px;
  width: auto;
}

.price {
  color: white;
}

.userInfo {
  margin-left: 20px;
  display: flex;
}
